#include "afxres.h"
#include "..\TextViewNG\resource.h"
#include "newres.h"

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

	/////////////////////////////////////////////////////////////////////////////
	//
	// Manifest
	//

	IDR_MANIFEST            24      DISCARDABLE     "TextViewNG.manifest"

	/////////////////////////////////////////////////////////////////////////////
	//
	// Accelerator
	//

	IDR_MAINFRAME ACCELERATORS PRELOAD MOVEABLE PURE
	BEGIN
	//"3", ID_FINDNEXT, VIRTKEY, CONTROL, NOINVERT
	VK_F3, ID_FINDNEXT, VIRTKEY, CONTROL
	"C", ID_EDIT_COPY, VIRTKEY, CONTROL, NOINVERT
	"F", ID_FIND, VIRTKEY, CONTROL, NOINVERT
	//"G", ID_FINDNEXT, VIRTKEY, CONTROL, NOINVERT
	"O", ID_FILE_OPEN, VIRTKEY, CONTROL, NOINVERT
	//"Q", ID_APP_EXIT, VIRTKEY, CONTROL, NOINVERT
	VK_LEFT, ID_BACK, VIRTKEY, ALT, NOINVERT
	VK_RIGHT, ID_FORWARD, VIRTKEY, ALT, NOINVERT
	END

	/////////////////////////////////////////////////////////////////////////////
	//
	// Toolbar
	//

	IDR_MAINFRAME TOOLBAR DISCARDABLE  16, 16
	BEGIN
	BUTTON      ID_MAIN_TOOLS
	BUTTON      ID_MAIN_OPTIONS
	BUTTON      ID_FILE_OPEN
	BUTTON      ID_BACK
	BUTTON      ID_FORWARD
	BUTTON      ID_BOOKMARKS
	BUTTON      ID_ADD_BMK
	BUTTON      ID_FIND
	BUTTON      ID_FINDNEXT
	END

	IDR_DIALOG TOOLBAR DISCARDABLE  16, 15
	BEGIN
	BUTTON      IDCANCEL
	END

	IDR_CONTENTS TOOLBAR DISCARDABLE  16, 15
	BEGIN
	BUTTON      IDCANCEL
	SEPARATOR
	BUTTON      ID_L1
	BUTTON      ID_L2
	BUTTON      ID_L3
	BUTTON      ID_L4
	BUTTON      ID_L5
	SEPARATOR
	BUTTON      ID_L0
	END

	IDR_DIALOG_HR TOOLBAR DISCARDABLE  32, 32
	BEGIN
	BUTTON      IDCANCEL
	END

	IDR_CONTENTS_HR TOOLBAR DISCARDABLE  32, 32
	BEGIN
	BUTTON      IDCANCEL
	SEPARATOR
	BUTTON      ID_L1
	BUTTON      ID_L2
	BUTTON      ID_L3
	BUTTON      ID_L4
	BUTTON      ID_L5
	SEPARATOR
	BUTTON      ID_L0
	END

	IDR_MAINFRAME_HR TOOLBAR DISCARDABLE  32, 32
	BEGIN
	BUTTON      ID_MAIN_TOOLS
	BUTTON      ID_MAIN_OPTIONS
	BUTTON      ID_FILE_OPEN
	BUTTON      ID_BACK
	BUTTON      ID_FORWARD
	BUTTON      ID_BOOKMARKS
	BUTTON      ID_ADD_BMK
	BUTTON      ID_FIND
	BUTTON      ID_FINDNEXT
	END

	/////////////////////////////////////////////////////////////////////////////
	//
	// Bitmap
	//

	IDR_MAINFRAME           BITMAP  DISCARDABLE     "Cmdbar.bmp"
	IDB_SMALLICONS          BITMAP  DISCARDABLE     "smallico.bmp"
	IDR_DIALOG              BITMAP  DISCARDABLE     "dialog.bmp"
	IDB_TREE                BITMAP  DISCARDABLE     "tree.bmp"
	IDR_CONTENTS            BITMAP  DISCARDABLE     "contents.bmp"
	IDR_DIALOG_HR           BITMAP  DISCARDABLE     "dialog_hr.bmp"
	IDR_CONTENTS_HR         BITMAP  DISCARDABLE     "contents_hr.bmp"
	IDR_MAINFRAME_HR        BITMAP  DISCARDABLE     "mainframe_hr.bmp"

	/////////////////////////////////////////////////////////////////////////////
	//
	// Icon
	//

	// Icon with lowest ID value placed first to ensure application icon
	// remains consistent on all systems.
	IDR_MAINFRAME           ICON    DISCARDABLE     "HR.ico"

	/////////////////////////////////////////////////////////////////////////////

#pragma code_page(65001)
#include "lang\en-US.rc"
#include "lang\zh-CN.rc"
#include "lang\zh-TW.rc"
